
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body{
    background: rgb(180,195,190);
background: linear-gradient(90deg, rgba(180,195,190,0.3668831168831169) 33%, rgba(167,184,178,0.37337662337662336) 66%, rgba(152,171,167,0.375) 100%);
}

.top-nav {
    position: fixed;
    left: 0;
    right: 0;
    background-color:white;
    padding: 4px 0;
    z-index: 200;
    width: 100%;
}

.top-nav .wrappern {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    margin: 0px;
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 0 120px;
}

.top-nav .search-icon {
    cursor: pointer;
}

.top-nav nav ul {
    display: flex;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-nav nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}
.img img{
    margin-top: 20px;
    width:100vw;
    height: 400px;
}

.img h1{
    position: absolute;
    bottom: 60%;
    left:10%;
    color: white;
}

.second , .about-us{
    padding: 20px 40px;
    line-height: 25px;
}


.about-us p ol > li{
     margin-left : 100px;
}

ol > li{
    margin-left: 80px;
}



footer .wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 120px;
}

footer .wrapper p {
    line-height: 2;
    margin-bottom: 20px;
}

footer {
    background-color: pistachio;
    color: #B2D3C2;
    padding: 36px;
    background-color: #ffff;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .footer-container {
    display: flex;
    justify-content: space-around;
}

footer .footer-container .footer-left > img {
    max-width: 75px;
    max-height: 75px;
}

footer .footer-left {
    align-self: center;
}

footer ul {
    list-style: none;
    margin-top: 16px;
    padding-left: 0;
}

footer ul li {
    margin: 12px 0px;
}

footer .social-icons {
    margin-top: 20px;
    padding: 10px;
    max-width: 260px;
    border-radius: 10px;
    color: black;
}

footer .social-icons > img {
    margin: 0 60px;
    height: 20px;
    width: auto;
}

footer .social-icons a {
    text-decoration: none;
}

footer .footer-right p {
    margin-top: 20px;
}

.footer-right .social-icons img {
    height: 45px;
    width: 75px;
}

